#### Implicit Type Conversion

In [1]:
a = 10
b = 12.45
print(a+b)

22.45

In [2]:
print(a*b)

124.5

In [3]:
print("The value of a is : {} and b is {}".format(a,b))

The value of a is : 10 and b is 12.45

### Explicit Type Conversion

In [4]:
import builtins

In [5]:
print(dir(builtins))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [6]:
#these builtins functions are globally defined you can use it anywhere without
#importing an explicit module

In [8]:
l = [1,2,3,4,5,6]
print(max(l))
print(min(l))

6
1

1. int
2. float
3. complex
4. list
5. tuple
6. dict
7. set
8. bool

In [11]:
a = int(input("Enter any number : "))   #int("12345")
print(type(a))
print("The value of a is : ",a)

Enter any number : 123
<class 'int'>
The value of a is :  123

In [12]:
a = int(input("Enter any number : "))   #int("12345")
print(type(a))
print("The value of a is : ",a)

Enter any number : 123.456

ValueError: invalid literal for int() with base 10: '123.456'

In [16]:
a = float(input("Enter any number : "))   #float("123.4567")
print(type(a))
print("The value of a is : ",a)

Enter any number : 123
<class 'float'>
The value of a is :  123.0

In [17]:
complex(10,34)  #real, image

(10+34j)

In [18]:
complex(int(input("Enter real number : ")),int(input("Enter imaginery number : ")))

Enter real number : 34
Enter imaginery number : 56

(34+56j)

In [19]:
#list()  #list(data or object) --> convert that data into list type
#list(data or object) --> object or data should be a sequence

In [20]:
l = list("python")

In [21]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [22]:
l = list(123)

TypeError: 'int' object is not iterable

In [23]:
#number (not interable)
#string (iterable)
#list  (iterable)
#tuple (iterable)
#set  (iterable)
#dictionary (iterable)

In [24]:
l = list((1,2,3,4,5,6))

In [25]:
l

[1, 2, 3, 4, 5, 6]

In [26]:
l = list(["hello","world","how","are","you"])

In [27]:
l

['hello', 'world', 'how', 'are', 'you']

In [28]:
l = list({10,20,30,40,50})

In [29]:
l

[40, 10, 50, 20, 30]

In [30]:
l = list({'one':'two','three':'four'})

In [31]:
l

['one', 'three']

In [32]:
l = list({'one':'two','three':'four'}.values())

In [33]:
l

['two', 'four']

In [34]:
l = list({'one':'two','three':'four'}.items())

In [35]:
l

[('one', 'two'), ('three', 'four')]

In [36]:
{'one':'two','three':'four'}.items()

dict_items([('one', 'two'), ('three', 'four')])

In [37]:
#space seperated input --> map
#map --> builtin function (global defined)

In [38]:
input()

1 2 3 4 5

'1 2 3 4 5'

In [44]:
#way to take input multiple elements

l = []
for i in range(5):
    l.append(input())
print(l)

2 3 4 5 6
34
56
78
90
['2 3 4 5 6', '34', '56', '78', '90']

In [42]:

input(),input()
input()

12,34
23
56

'56'

In [46]:
#space seperated input??

a = input()
print(type(a))

1 2 3 4 5 6 7
<class 'str'>

In [48]:
l = "1 2 3 4 5 6 7".split()

In [51]:
input().split()

hello hi how are you

['hello', 'hi', 'how', 'are', 'you']

In [53]:
newl = []
print(l)
for i in l:  #traverse one-by-one element from list and store it into i
    print(i,type(i))
    newl.append(int(i))
print(newl)

['1', '2', '3', '4', '5', '6', '7']
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
[1, 2, 3, 4, 5, 6, 7]

map(function,seq) --> example map(int,list)

In [54]:
l

['1', '2', '3', '4', '5', '6', '7']

In [56]:
list(map(int,l))   #you have to store multiple elements into a data type that holds 
            #multiple elements

[1, 2, 3, 4, 5, 6, 7]

In [59]:
l = input().split()  #return list
newl = list(map(int,l))

1 2 3 4 5 6

In [60]:
newl

[1, 2, 3, 4, 5, 6]

In [62]:
l = input().split()
print(l)
newl = list(map(int,input().split()))  
print(newl)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [63]:
s = {"sachin","dhoni","virat","sehwag"}

In [64]:
s

{'dhoni', 'sachin', 'sehwag', 'virat'}

In [65]:
s.update("abc")

In [66]:
s

{'a', 'b', 'c', 'dhoni', 'sachin', 'sehwag', 'virat'}

In [67]:
s1 = set("abc")

In [68]:
s1

{'a', 'b', 'c'}

In [69]:
s.update({"abc"})

In [70]:
s

{'a', 'abc', 'b', 'c', 'dhoni', 'sachin', 'sehwag', 'virat'}

In [71]:
s.update(['abc','xyz'])

In [72]:
a

'1 2 3 4 5 6 7'

In [73]:
s

{'a', 'abc', 'b', 'c', 'dhoni', 'sachin', 'sehwag', 'virat', 'xyz'}

In [76]:
s.update(["rahul"])

In [77]:
s

{'a',
 'abc',
 'b',
 'c',
 'dhoni',
 'h',
 'i',
 'n',
 'rahul',
 's',
 'sachin',
 'sehwag',
 'virat',
 'xyz'}

In [78]:
s = set()
print(s)

set()

In [81]:
s.update(*{'abc','xyz','pqr'})

In [82]:
print(s)

{'r', 'b', 'y', 'x', 'p', 'z', 'q', 'a', 'c'}

In [80]:
print(*{'abc','xyz','pqr'})

pqr abc xyz

In [83]:
l = [1,2,3,4,5]
print(*l)   #* is used tp iterate 
#it will traverse the element of list one by one and print it

1 2 3 4 5

In [84]:
s = "python"  
print(*s)

p y t h o n

In [85]:
s = {"abc","pqr","xyz"}
print(s)

{'pqr', 'abc', 'xyz'}

In [86]:
print(*s)

pqr abc xyz

In [87]:
s = set()
s.update("python")

In [88]:
s

{'h', 'n', 'o', 'p', 't', 'y'}

In [89]:
s.update(*[1,2,3,4,5])

TypeError: 'int' object is not iterable

In [90]:
s.update(1)  #update(object) that object should be iterable

TypeError: 'int' object is not iterable

In [95]:
s = set()
s.update(*["hello","ar","wi"])
#s.update("hello")
#s.update("ar")
#s.update("wi")

In [96]:
s

{'a', 'e', 'h', 'i', 'l', 'o', 'r', 'w'}

In [97]:
s = set()
s.update(*[['hello','hi'],'ar',("wi","pq")])

    s.update(['hello','hi'])
    s.update('ar')
    s.update(("wi","pq"))

In [99]:
s

{'a', 'hello', 'hi', 'pq', 'r', 'wi'}

In [100]:
t = tuple(1)   #tuple(object) object should be iterable

TypeError: 'int' object is not iterable

In [101]:
t = tuple(["one",1,2,3,4,"python"])

In [102]:
t

('one', 1, 2, 3, 4, 'python')

In [103]:
t = tuple({'one':1,'two':2})
print(t)

('one', 'two')

In [104]:
t = tuple()
type(t)

tuple

In [105]:
t

()

In [106]:
l = list()
print(l)
print(type(l))

[]
<class 'list'>

In [107]:
l.append(10)

In [110]:
l.extend(*[['hello']])

In [111]:
l
#l.extend("hello")

[10, 'h', 'e', 'l', 'l', 'o', 'hello']

In [112]:
s = set(l)
print(s)

{'o', 'hello', 10, 'l', 'h', 'e'}

In [113]:
d = dict()
type(d)

dict

In [114]:
d

{}

In [115]:
d['key1'] = "value1"
d['key2'] = "value2"

In [116]:
d

{'key1': 'value1', 'key2': 'value2'}

In [117]:
l = [['name','simran'],['course','python'],['fees',10000]]

In [118]:
d = dict(l)

In [119]:
d

{'name': 'simran', 'course': 'python', 'fees': 10000}

In [120]:
d.items()

dict_items([('name', 'simran'), ('course', 'python'), ('fees', 10000)])

In [121]:
l = [(('name','abc'),'simran'),(['course','pqr'],'python'),('fees',10000)]

In [122]:
d = dict(l)

TypeError: unhashable type: 'list'

In [123]:
#keys--> string,number,tuple (immutable)

In [124]:
l = [(('name','abc'),'simran'),(('course','pqr'),'python'),('fees',10000)]

In [125]:
d = dict(l)

In [126]:
d

{('name', 'abc'): 'simran', ('course', 'pqr'): 'python', 'fees': 10000}

Everything in python is true value expect for the following:

1. None
2. 0
3. []
4. ()
5. {}

In [127]:
#bool(object)  return its boolean value of the object

In [128]:
bool("python")

True

In [129]:
bool([])

False

In [130]:
bool(())

False

In [131]:
bool({})

False

In [132]:
bool(0)

False

In [133]:
bool(None)

False

In [134]:
bool(1)

True

In [135]:
bool([1,2,3,4,5,6])

True

In [136]:
#python encoding --> utf8

In [137]:
#ord(character)

In [138]:
ord('r')

114

In [139]:
ord('A')

65

In [140]:
chr(65)

'A'

In [141]:
chr(213)

'Õ'

In [142]:
chr(78)

'N'

In [143]:
ord(" ")

32

In [144]:
chr(35)

'#'

In [145]:
ord("a")

97