In [2]:
l1 = [1,5,6,7]
l2 = [2,6,7,9]
print(l1>l2)

False

In [3]:
l1 = ['a','b','c','d']
l2 = ['b','c','d']
print(l1>l2)

False

In [4]:
s1 = "abcd"
s2 = "bcaa"
print(s2>s1)

True

In [5]:
from random import randint

In [8]:
randint(1,10)  #return any random integer between 1 and 10

8

In [10]:
(-4+5) and (2+4-9+10)  #1 and 7 #True and True

7

In [11]:
True and (3+4-4+3-1+1)  #True and 6

6

In [12]:
None or "hello world"

'hello world'

In [18]:
{1,2,3} > {0,1,2}    #superset>subset

False

In [19]:
{4,5,6,7,8} < {10,4,5,6,7,8,9,12,11}

True

## Bitwise Operators

In [20]:
a = 5

In [22]:
a << 1

10

In [21]:
bin(a)   #101

'0b101'

In [23]:
bin(10)

'0b1010'

In [24]:
a = 6

In [26]:
bin(6)

'0b110'

In [30]:
a >> 1

3

In [28]:
2 >> 1

1

In [29]:
bin(2)

'0b10'

In [31]:
a = 12

In [32]:
a << 2

48

In [33]:
bin(a)

'0b1100'

0000 1100 --> 110000

In [34]:
bin(48)

'0b110000'

In [35]:
#decimal --> binary --> 2
#decimal --> octal --> 8
#decimal --> hexadecimal --> 16

In [36]:
a = 14
print(a>>3)

1

In [37]:
bin(14)

'0b1110'

In [39]:
a = 12.45
a << 1.34

TypeError: unsupported operand type(s) for <<: 'float' and 'float'

In [40]:
bin(12.345)

TypeError: 'float' object cannot be interpreted as an integer

### Membership Operators

1. in
2. not in

In [41]:
"a" in "abcde"

True

In [47]:
[1,2,3] in [1,2,3,4,[1,2,3]]

True

In [44]:
1 not in [1,2,3]

False

In [46]:
"z" in "abcde"

False

In [48]:
"name" in {"name":"simran","course":"python"}  #dictionary--> keys

True

In [50]:
"simran" in {"name":"simran","course":"python"}.values()

True

In [51]:
["name","simran"] in {"name":"simran","course":"python"}.items()

False

In [52]:
("name","simran") in {"name":"simran","course":"python"}.items()

True

In [ ]:
#[("name","simran"),("course","python")]

In [53]:
1 in {1,2,3,4}

True

In [54]:
"hello" in (1,2,3)

False

In [55]:
"string" not in ["string","hello"]

False

## Identity Operator

1. is
2. is not

In [56]:
a = 10
b = 10

In [57]:
a == b

True

In [59]:
a is b

True

In [60]:
id(a)

140725467390640

In [61]:
id(b)

140725467390640

In [62]:
id(a) == id(b)

True

In [63]:
#is checks the id

In [64]:
a = 10
b = 12

In [66]:
a == b  #10 == 12

False

In [67]:
a is b #(id(a)) == id(b))

False

In [68]:
a = 123445690909
b = 123445690909

In [69]:
print(a == b)
print(a is b)

True
False

In [70]:
a == b #data = data

True

In [71]:
id(a)

2894107002256

In [72]:
id(b)

2894107002448

In [73]:
a = 257
b = 257
print(id(a))
print(id(b))

2894107003216
2894107003184

In [75]:
2**8

256

In [77]:
a = "hello world"
b = "hello world"

print(a == b)
print(a is b)

True
False

In [78]:
a is not b

True

## Control Statements

### Are the statements that are used to control the flow of statements

    s1 and s2 --> boy
    s3 and s4 --> girl
    if-else , loop (for,while)
    s1             go left
    s2             sit down
    s3             go right
    s4             sit down

1. if gender is boy
    1. go left
    2. sit down
2. if gender is girl
    1. go right
    2. sit down

if (condition) {
    s1
    s2
}
s3

if (gender = girl){
    printf("go left")
}
else {
    printf("go right")
}
printf("sit down")

here the {} are used to define the block

if (condition) 
    s1
    s2
s3

if (gender = "girl")
printf("go left")
else
printf("go right")
printf("welcome to right side")
printf("sit down")


output --> gender = girl --> go left
                             "welcome to right side"
                             "sit down"

In python the blocks are defined using indent(:)

## If-Else

    syntax
    if (condition):  #condition = True
        s1 
        s2
        s3
    s4  (common)

: --> indent--> 4 spaces --> 1 tab