## Operators
    They are used to perform operations on data 
    
    
1. Number
2. Strings
3. List
4. Sets
5. Tuple
6. Dictionary

1. Arithemetic operators
2. Comparison operators
3. Logical operators
4. Bitwise Operators
5. Identity Operator
6. Assignment Operators

## Arithemetic Operators

1. Addition (+)
2. Multiplication (*)
3. Division 
    1. Absoluter (/)
    2. Floor division (//)
4. Mod operator (%)
5. Power (**)

In [2]:
a = 10
b = 20

print("Addition : ",a+b)
print("Multiplication : ",a*b)
print("Absolute division : ",a/b)   #float
print("Floor Division : ",a//b)
print("Power : ",a**2)
print("Reminder : ",a%b)   #10/20 --> 10

Addition :  30
Multiplication :  200
Absolute division :  0.5
Floor Division :  0
Power :  100
Reminder :  10

In [4]:
a = 20.4
b = 23.5
print(a//b)
print(a/b)

0.0
0.8680851063829786

In [5]:
#complex number multiplication

In [6]:
s = "hello"
s + "123"

'hello123'

In [7]:
s = "hello"
s + 123   #data are of different type

TypeError: can only concatenate str (not "int") to str

In [8]:
s1 = "hello"
s2 = "world"
print(s1*s2)

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [12]:
s1*30

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello'

In [13]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [15]:
s1**3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [16]:
s1**s2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [17]:
#list (+,*(int))

In [19]:
l1 = [1,2,3,4]
l2 = [3,4,5,6]
l1 * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [20]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [21]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [22]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [23]:
d1 = {'key':'value'}
d2 = {'key1':'value1'}
print(d1 + d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## Comparison Operators

<, > , <= , >= , ==

In [24]:
a = 10
b = 10
print(a<b)

False

In [25]:
id(a)==id(b)

True

In [27]:
a==b  #10 == 10

True

In [31]:
#== --> comparison (equals to)
#= --> assignment operator

In [29]:
a = 10  # a--> 10

In [30]:
a = 10.0
b = 10
print(a==b)

True

In [32]:
a = 20
b = 10.5
print(a<b)
print(a>b)

False
True

In [33]:
print(a>=b)   #>= --> greater than or equals to
print(a<=b)

True
False

In [34]:
a = 20
b = 20
print(a<=b)
print(a>=b)

True
True

In [35]:
l1 = [1,2,3,4,5]
l2 = [10,20,30]
print(l1>l2)

False

In [36]:
print(l2>l1)

True

In [37]:
l1 = [10,20,1]  #[True,True,False]
l2 = [1,2,10]
print(l1>l2)

True

In [39]:
print(l1==l2)

False

In [41]:
print(l1>=l2)

True

In [40]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [46]:
#comparison follows the lexographical order
#it will compare the first two elements if they are greater or lesser it will
#return answer accordingly else if they are equal it will go to next two elements and compare them
#so here 5>1 and 4>2 so it returns answer true 
l1 = [5,4,3,2,1]
l2 = [1,2,3,4,5]

In [48]:
print(l1>l2)

True

In [50]:
l1 = [1,1,3,4,5]
l2 = [1,1,2,2,6]
print(l1>l2)

True

In [51]:
#here first two elements are same i.e 1 and 1
#then it will go further for next two elements that are [3,2] and [4,2]

In [53]:
l1 = [1,2,3,4]  #here it will compare [1,1], [2,2],[3,3] they are equal then only 4 left which is 
                #greater 
l2 = [1,2,3]
print(l1>l2)

True

In [54]:
#in these always the first two will be compared according to that next are compared if necessary 
#otherwise the output comes bcz of the first two elements greater or lesser

In [56]:
s1 = "abcd"
s2 = "bcaa"
print(s1>s2)

False

In [62]:
print(s2>s1)   # first two elements are : b>a and c>b

True

In [59]:
a1 = "aaaa"
a2 = "baaa"
print(a1>a2)

False

In [61]:
print(a2>a1)   # b>a

True

In [73]:
#performing operations on sets
s1 = {1,2,3,4,5}
s2 = {1,2,3}
print(s1>s2)   #in sets it see whether the set s1 is superset of s2 or not

True

In [74]:
#> implies the superset
s1 = {4,5,6,7}
s2 = {2,3,4}
print(s1>s2)

False

In [75]:
print(s2>s1)

False

In [76]:
print(s1 == s2)

False

In above examples neither of them are superset not subset hence for each it is returning false

    s1 is not superset of s2 
    s2 is not superset of s1

In [77]:
from random import randint

In [81]:
s1 = set([randint(1,10) for var in range(10)])
print(s1)
s2 = {5,6,7}
print(s2)
#here s2 is supset of s1
#and s1 is superset of s2

{2, 3, 5, 6, 7, 8, 9, 10}
{5, 6, 7}

In [83]:
print(s1>s2)   #checking whether the s1 is superset of s2 (it is so answer is True)

True

In [84]:
print(s2<s1)  #it will check whether the s2 is subset of s1 (it is )

True

In [119]:
a = 30
b = 45
print(a!=b)   #!= --> not equals to

True

## Logical Operators

Logical Operators are 
1. and
2. or
3. not

These operators perform logical operations on data according to the table

                       And(multiply)      Or(add)        
          0    0           0                 0 
          0    1           0                 1
          1    0           0                 1
          1    1           1                 1

In [85]:
"hello" and "hello"  # everything in python is true data the operations is True and True
#which is True so it will return any True value

'hello'

In [87]:
[1,2,3,4] and (3,4,5)   #True and True returns any True value

(3, 4, 5)

In [89]:
1 and 0   #True and False = false hence it will return False value

0

In [90]:
False and False

False

In [91]:
True and False

False

In [93]:
[1,2,3,4] and []  #True and False = False

[]

In [98]:
None and (1,2,3)  #False and True return False i.e None

In [99]:
(1,2,3,4) or []   #True or False = True return True data

(1, 2, 3, 4)

In [100]:
[] or ()   #False or False

()

In [101]:
None or "hello world"

'hello world'

In [102]:
#not will make opposite of data and then return its value

In [103]:
not [1,2,3,4]  #not True

False

In [105]:
not None  #not False

True

In [106]:
not []

True

In [107]:
not "hello world"

False

## Assignment Operators

1. =
2. += 
3. *= 
4. /= 
5. **=
6. //=
7. -=

In [109]:
a = 10
print(id(a))
a = a + 10   #it will add 10 to the value of a i.e 10 and store it again into a
print(a)
print(id(a))
#here you can see the ids are difference bcz when it is assigning the value again into 
#a it is making a new object

140711619240624
20
140711619240944

In [110]:
#the same thing can be done with the operator
a = 10
print(id(a))
print(a)
a += 10
print(id(a))

140711619240624
140711619240944

In [117]:
b = 20
print(id(b))
b -= 30
print(id(b))
print(b)

140711619240944
2245274142288
-10

In [118]:
a = 30
a *= 100
print(a)
a **= 2
print(a)
a //=3
print(a)
a /= 2
print(a)
a -= 10
print(a)

3000
9000000
3000000
1500000.0
1499990.0

In [120]:
a = 10 #This will assign the value 10 to a

In [121]:
a

10

## Bitwise Operators

1. & (and)
2. | (or)
3. ^ (xor)
4. << (left shift)
5. >> (right shift)

    Bitwise operator campare bit to bit
    It converts the data into binary and then compare it bit by bit

In [131]:
a = 5   #taking two decimal numbers 
b = 6

In [124]:
bin(a)   #return the binary value of 5

'0b101'

In [126]:
bin(b)   #return the binary value of 6

'0b110'

In [132]:
a = int(bin(a)[2:])  #101
b = int(bin(b)[2:])  #110
print(a&b)

100

The solution of the above is 

       1 $ 1 --> 1
       0 $ 1 --> 0
       1 $ 0 --> 0

In [133]:
print(a|b)   #a or b

111

The solution of above is
    1 | 1 --> 1
    0 | 1 --> 1
    1 | 0 --> 1

In [134]:
print(a^b)   #a xor b

11

In [135]:
#study the table of xor we will discuss tomorrow hopefully